section{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 100vh;
}

form{
    margin: auto;
    align-items: center;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    border-radius: 1em;
    background-color: white;
    width: 80%;
    height: 50vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

input{
    margin: auto;
    width: 80%;
    border: none;
    border-bottom: 1px #000 solid ;
    height: 5vh;
    font-size: 1em;
}
h2{
    padding: 1em;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.5em;
    background-color: #000;
    color: white;
    margin: auto;
    width: 80%;
    height: 40%;
}

